<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <h3>BOTの導入方法</h3>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
      <div class="accordion-body">
        画面上部にある【ディスコードBOTを追加】を押して頂く事でサーバー追加画面が開きます<br>
        BOTの追加には管理者権限が必要です。<br>
        既にサーバーを作成済みの場合＝＞<br>
        ディスコードでサーバーを作った方であれば自動的に付与されている為、そのまま追加の操作をして下さい<br>
        <br>
        サーバーを未作成の場合＝＞<br>
        これはディスコード側での操作が必要となりますので、<br>
        作り方が分からない場合『ディスコード　サーバーの建て方』など検索し作成してからご利用下さい。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <h3>遊び方</h3>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        (簡単な操作動画を添付)<br>
        動画のように『/ping』とコマンドを打って頂くと、自動的にBOTが議題を合成し出題してくれます。<br>
        そちらを元に議論を交わして頂くと、一定時間経過後BOTから議論時間終了のアナウンスが行われます。<br>
        その際にURLを提示されるため、そこから投稿ページへ移動して頂き議論結果を投稿し共有して下さい。
      </div>
    </div>
  </div>
    </div>
  </div>
</div>