
<% content_for(:title, " | RUNTEQ BOARD APP") %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1><%= "遊び方"%></h1>

<div>

  <%# <video autoplay muted loop width="500" height="350" src="/assets/videos/discord_start.mp4" controls ></video> %>

</div>
<div>
  <%= render 'how_to' %>
</div>

      </div>
    </div>
  </div>
</div>