
<% content_for(:title, " | RUNTEQ BOARD APP") %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1><%= t('.title')%></h1>
<h1>HowToPlays#index</h1>
<p>Find me in app/views/how_to_plays/index.html.erb</p>

<div>
  <h3>ディスコード登録</h3>
  <%# <video autoplay muted loop width="500" height="350" src="/assets/videos/discord_start.mp4" controls ></video> %>
  <p>動画内容を文字で説明</p>
</div>
<div>
  <%= render 'how_to' %>
</div>

      </div>
    </div>
  </div>
</div>