<% content_for(:title, '掲示板一覧 | 空想ディベート')%>
<div class="container pt-3">

  <h2><%= t('.title')%></h2>
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @boards.present? %>
          <%= render partial: 'board', collection: @boards %>
        <% else %>
          <div class="mb-3">掲示板がありません</div>
        <% end %>
        <%= paginate @boards, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>